html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.amu_new_header {
    width: auto;
    height: auto;
}
.amu_new_main_menu {
    width: auto;
    height: 60px;
    background: #151933;
}
.main_menu_wrap {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
.papa_logo {
    float: left;
    padding: 12px 0 0 0;
}
.amu_logo a {
    display: block;
}
.amu_main_menu {
    float: right;
    padding: 0px;
}
.amu_main_menu ul li {
    float: left;
    position: relative;
    cursor: pointer;
    padding: 0 0px 0 0;
    border-right: 1px solid #252c59;
    margin: 0px;
}
.amu_main_menu ul li:first-child {
    border-left: none;
}
.amu_main_menu ul li:first-child > a {
    background-image: none;
}
.amu_main_menu ul li a {
    font-size: 12px;
    margin: 0;
    padding: 23px 12px 23px 12px;
    display: block;
    font-weight: bold !important;
    color: #e5e5e5;
    font: 12px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 14px;
}
.amu_main_menu ul li a span {
    background: url(../../images/drop_down_arrows.png) no-repeat 6px 0px;
    display: inline-block;
    padding: 0px 14px 10px 0px;
}
.amu_main_menu ul li:hover span {
    background: url(../../images/drop_down_arrows.png) no-repeat 6px -78px;
}
.amu_main_menu ul li .active_nav {
    background: #f14440;
}
.amu_main_menu ul li .active_nav span {
    background: url(../../images/drop_down_arrows.png) no-repeat 6px -78px;
}
.remove_dropdown_icon {
    background-image: none !important;
}
.amu_main_menu ul li a b {
    font-weight: bold;
}
.amu_main_menu ul li:hover {
    background: #f14440;
}
.amu_main_menu ul li:hover:first-child a {
    background: none;
}
.amu_main_menu ul li ul li a {
    font-weight: normal !important;
}
.amu_main_menu ul li ul {
    display: none;
}
.amu_main_menu ul li:hover ul {
    display: block;
    width: 190px;
    left: 0px;
    top: 60px;
    background: #fff;
    box-shadow: 0px 1px 10px 1px #c0c1c9;
    position: absolute;
    z-index: 9999;
}
.amu_main_menu ul li:hover ul li {
    display: list-item;
    float: none;
    padding: 0;
    margin: 0px;
    border-bottom: 1px solid #e6e6e6;
    border-right: none;
}
.amu_main_menu ul li:hover ul li:first-child {
    border-left: none;
}
.amu_main_menu ul li:hover ul li,
.amu_main_menu ul li:hover ul li a {
    background: none;
}
.amu_main_menu ul li:hover ul li a {
    color: #666666;
    font-size: 14px;
    padding: 16px 20px 16px 20px;
    font-weight: normal;
    text-transform: none;
}
.amu_main_menu ul li:hover ul li:hover a {
    background: #f14440;
    color: #ffffff;
}

.amu_new_menu {
    width: 98%;
    margin: 0 auto;
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid #d9d9d9;
}
.amu_new_menu a {
    min-width: 125px;
    height: 40px;
    padding: 0 14px 0 14px;
    float: left;
    margin: 0 8px 0px 0;
    display: block;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    font-weight: normal;
    color: #f14440;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
}
.amu_new_menu .active_quiz {
    background: #f14440;
    color: #fff;
    border: none;
}
.amu_new_menu a:hover {
    background: #f14440;
    color: #fff;
}
.amu_new_menu_part {
    width: 100%;
    display: block;
    margin: 0 auto 40px;
    background: #fafafa;
    padding: 0px;
}
.amu_new_menu_part .last-child-li {
    height: 51px;
    display: -webkit-box;
    border-bottom: 1px solid #d9d9d9;
}
.amu_new_menu_part li {
    list-style: none;
}
.amu_new_menu_part li a {
    min-width: 125px;
    height: 40px;
    padding: 6px 13px 5px 12px;
    float: left;
    margin: 0px;
    display: block;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    font-weight: normal;
    color: #6c7080;
    border-right: 1px solid #d9d9d9;
    border-radius: 0px;
    border-bottom: 1px solid #d9d9d9;
}
.amu_new_menu_part .active_quiz {
    border-top: 3px solid #f14440;
    background: #fff;
    color: #f14440;
    margin: 0px 0 0 0;
    padding: 4px 14px 4px 14px;
    border-bottom: none;
}
.amu_new_menu_part a:hover {
    color: #f14440;
}
.balance{
    background-color: 	#186bbe ;
}
